body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Serif', sans-serif;
    font-weight: 600;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

nav>ul>li{
    display: flex;
    list-style: none;
}
nav>ul{
    display: flex;
  
}
nav>ul>li>a{
    text-decoration: none;
    margin-left: 2em;
    
}
nav>ul>li:hover{
    background-color: yellow;
    padding: 10px;
}

/* ------------
     1st-section
-------------*/
.first-sec{
            display: flex;
}

.head-section{
    margin: 0 20px 0 40px;
}

.heading{
    font-size: 50px;
}

p{
    font-family: 'Gideon Roman', cursive; 
}

.degin{
    text-decoration: none;
    color: white;
    background-color:#E02C6D;
    padding: 10px 40px;
    border-radius: 20px;
}

.mini-cam{
    margin: 0 140px 90px 75px; 
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5));
      
}

.first-sec:hover img{
    transform: scale(1.2);
    transition: transform 3s ease-in-out;
}

/* 2nd-section */

.second-src{
    display: flex;
    justify-content: center;
    margin: 0 170px;
    border: 2px solid rgba(197, 120, 120, 0.74);
   
}

.second-src:hover{
 background-color: aquamarine;
}
.icon{
    align-items: center;
    width: 80px;
    height: 30px;
    margin: 30px;
}



/*-----------------------------------
 third-section 
-----------------------------------*/
.third-sec{

    font-family: Arial, Helvetica, sans-serif;
}

.third-sec>h1{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.product{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-gap: 30px;
    margin: 0 300px;
}

.iteams{
    height: 490px;
    width: 330px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 40px rgba(128, 128, 128, 0.575);
}

.price{
    font-weight: 300;
}

.iteams>p{
    color: #787885;
}

.iteams .fa-solid{
    color: hsl(43, 100%, 51%);
}

.see-more{
    margin: 40px 320px;
    text-align: right;
}

.see-more>a{
    text-decoration: none;
    color: #E02C6D;
}



/*------------------------------------------------------
 four-section 
----------------------------------------------------*/
.four-sec{
    display: flex;
    align-items: center;
    margin: 100px 40px;
}

.image{
    height: 250px;
    width: 500px;
    border-radius: 15px;
}
/*------------------------------------------
 footer-sec
------------------------------------------- */

footer{
    text-align: center;
    color: white;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(1, 1, 29);
}
footer>p{
    font-weight: 500;
}
.social{
    display: flex;
    justify-content: center;
}
.social>.fab{
    margin: 10px;
    padding: 5px;
    border-radius: 50px;
    background-color: rgba(128, 128, 128, 0.479);
}

/*-----------------------------------
 media-queari 
-------------------------------------*/

/* mobile-devis 
---------------------------------------*/
@media only screen and (max-width:688px){

    nav, .second-src, .four-sec{
        display: none;
    }

    .first-sec{
        display: block;
        width: 100%;
        transform: none;transition: none;
    }
    
    .mini-cam{
        background-image: none;
    }

    .mini-cam>img{
        margin: auto;
        justify-items: center;
        height: 300px;width: 300px;
        
    }

    

 .product{
   display: grid;
   grid-template-columns: repeat(1, 1fr);
   margin-left: 15px;
   justify-items: center;
   grid-gap: 40px;
 }
    
}


/*---------------------------------------------------------------
 tablet-device 
 --------------------------------------------------------------*/

 @media only screen and (min-width: 688px) and (max-width: 992px) {
    
    nav, .second-src, .four-sec{
        display: none;
    }

    .first-sec{
        transform: none;transition: none;
    }

    .mini-cam{
        background-image: none;
        margin: 10px;
    }

    .head-section{
        margin: 10px;
    }

    .product{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 10px;
        justify-items: center;
        grid-gap: 40px;
      }
    
}

/*---------------------------------------------------------------------
----------------------------------------------------------------------
                      All-done 
----------------------------------------------------------------------
--------------------------------------------------------------------*/